* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./coffee-beans.png);
  background-repeat: space repeat;
  background-size: 64px;
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr auto;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav button {
  background-color: transparent;
  border: 1px solid black;
}