@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./icons.png);
  background-repeat: repeat;
  background-size: 320px;
  background-color: #EADDCA;
  margin: 10px;
  font-family: 'Dancing Script', serif;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr auto;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav button {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Dancing Script', serif;
}

.nav button:hover,
.nav button:active,
.main-content {
  background-color: #FFFF8F;
}

.nav li:first-child button {
  border-top-left-radius: 10px;
}

.nav li:last-child button {
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 5px 0 gray;
}

.nav li:first-child+li:not(li:last-child) button {
  border-left: none;
  border-right: none;
}

.nav button {
  background-color: #FFBF00;
}

.main-content {
  box-shadow: 5px 5px 5px 0 gray;
  border-radius: 10px;
  border: 2px solid black;
}

.hero-image {
  height: 45vh;
  margin: 10px 0;
  background-image: url(./3395.jpg);
  background-size: cover;
}

.hero-text {}

@media only screen and (max-width: 500px) {
  .main-content {
    border-radius: 0;
  }
}